.card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  background: rgb(252, 251, 251);
  width: 250px;
  margin-top:20px ;
  box-shadow: 0 2px 6px rgba(0,0,0);
}

.card-content {
  margin-top: 10px;
}
.card img{
  width: 200px;
  height: 200px;
  border-radius: 2rem;
  object-fit: cover;
}